<div class="container-fluid mt-4">
      <h3>Dashboard</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5>Total Category</h5>
              <h5>{{dashboard.totalCategory}}</h5>
              <button class="btn btn-primary mt-2">View Category</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5>Total Category</h5>
              <h5>{{dashboard.totalproduct}}</h5>
              <button class="btn btn-primary mt-2">View Product</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <h5>Total Bill</h5>
              <h5>{{dashboard.totalBill}}</h5>
              <button class="btn btn-primary mt-2">View Bill</button>
            </div>
          </div>
        </div>
      </div>
</div>
