<!-- Navbar section  Start-->
<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html" style="display: flex; align-items: center; font-size: 1.5rem; font-weight: bold; color: #fff;">
        <img src="../../assets/images/cutlery.png" alt="Cafe Logo" style="height: 30px; margin-right: 8px; margin-left:70px">
        Cafe
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto ">
          <li class="nav-item active"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="menu">Menu</a></li>
          <li class="nav-item"><a class="nav-link"  routerLink="about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="services" >Services</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- Navbar section  Start-->

   <!-- about section -->
<section class="about_section layout_padding" style="background-color: white;">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2 class="text-dark">
              We Are Here
            </h2>
          </div>
          <p class="text-dark">
            We’re here to make your café visits easier, faster, and more enjoyable.
            No more waiting in lines — just explore our menu, pick what you love, and place your order in seconds.

            Whether you’re craving a quick coffee break, a hearty breakfast, or an evening snack, we serve it fresh and fast.
            Our mission is simple: great taste, zero hassle.
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

  <!-- end about section -->

  <!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4> Contact Us </h4>
          <div class="contact_link_box">
            <a href=""> <i class="fa fa-map-marker" aria-hidden="true"></i><span>Nagpur, Maharashtra, India</span></a>
            <a href=""> <i class="fa fa-phone" aria-hidden="true"></i><span> Call +91 8766 938478</span></a>
            <a href=""> <i class="fa fa-envelope" aria-hidden="true"></i><span>info@nagpurcafesystem.com</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo"> Cafe</a>
          <p> Welcome to Nagpur Cafe — your cozy place for the finest coffee and delicious bites in the heart of Maharashtra.</p>
          <div class="footer_social">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> </a>
            <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4> Opening Hours</h4>
        <p> Everyday</p>
        <p>10.00 Am -10.00 Pm</p>
      </div>
    </div>
    <div class="footer-info">
       <p>
        &copy; <span id="displayYear"></span> All Rights Reserved by Nagpur Cafe Management System<br><br>
        Designed by <a href="#" target="_blank">Trushali Bawane</a>
      </p>
    </div>
  </div>
</footer>
